<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DV.dao.mapper.dataGraphMapper">
    <select id="echartSet" resultType="java.util.Map">
        SELECT e_t.text,e_x.type x_type,e_x.data x_data,e_y.type y_type,e_s.data s_data,e_s.type s_tpye
        FROM echarts e
        LEFT JOIN E_title e_t
        ON e.t_id = e_t.id
        LEFT JOIN e_xAxis e_x
        ON e.x_id = e_x.id
        LEFT JOIN E_yAxis e_y
        ON e.y_id = e_y.id
        LEFT JOIN e_series e_s
        ON e.s_id = e_s.id
        WHERE e.corp_id = #{corp_id,jdbcType=VARCHAR} AND e.type = #{type,jdbcType=VARCHAR}
    </select>
</mapper>